body {
  font-family: "Montserrat", sans-serif;
}

.comic-element {
  width: calc(16.6666666667% - 1rem);
  display: inline-block;
  padding-bottom: 1rem;
  text-align: left;
  align-items: center;
}
.comic-element img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}
.comic-element h4 {
  font-size: 0.6rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
  vertical-align: middle;
  width: 120px;
}
.comic-element .comic-title {
  display: flex;
  align-self: flex-end;
}
.comic-element a:hover {
  color: rgb(56, 128, 241);
}
.comic-element a {
  color: white;
  text-decoration: none;
}

.comic-list {
  width: 100%;
  background-color: rgb(28, 28, 28);
}

.main-comics {
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  display: flex;
  background-color: rgb(28, 28, 28);
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
}
.main-comics h5 {
  font-size: 0.8rem;
  font-weight: 700;
}

.jumbotron {
  width: 100%;
  height: 300px;
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
}
.jumbotron h2 {
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.6rem;
  background-color: rgb(56, 128, 241);
  position: absolute;
  top: 39%;
  left: 14%;
}

.header-container {
  width: 75%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0.3rem;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.container-detail {
  width: 55%;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.container-info {
  width: 55%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.relative {
  position: relative;
}

.header-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.header-content img {
  width: 100px;
  height: 100px;
  padding: 1rem;
}
.header-content nav {
  justify-content: center;
}
.header-content ul {
  margin-top: 2.4rem;
}
.header-content ul li {
  display: inline-block;
  list-style-type: none;
}
.header-content ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(28, 28, 28);
  font-size: 0.7rem;
  font-weight: 700;
  margin-right: 1rem;
}
.header-content ul a:active, .header-content ul a.active, .header-content ul a:hover {
  color: rgb(56, 128, 241);
  border-bottom: 5px solid rgb(56, 128, 241);
  padding-bottom: 40px;
}
.header-content ul a:focus {
  color: rgb(56, 128, 241);
}

.top-main {
  width: 100%;
  height: 60px;
  background-color: rgb(56, 128, 241);
}

.comic-item-img {
  width: 10%;
  position: absolute;
  left: 23%;
  top: 38%;
  z-index: 2;
  border: 1px solid white;
}

.comic-item h1 {
  width: 60%;
}

.comic-book {
  left: 23%;
  top: 38%;
  color: white;
  width: 80px;
  height: 15px;
  background-color: rgb(76, 166, 212);
  text-transform: uppercase;
  font-size: 0.7rem;
  border-top: 1px solid white;
  border-left: 1px solid white;
  text-align: left;
  position: absolute;
  z-index: 3;
}

.gallery {
  left: 23%;
  top: 108%;
  color: white;
  width: 144px;
  height: 20px;
  background-color: rgb(76, 166, 212);
  text-transform: uppercase;
  font-size: 0.7rem;
  text-align: center;
  padding-top: 0.2rem;
  position: absolute;
  z-index: 3;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.comic-item h1 {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.comic-info {
  background-color: rgb(112, 184, 100);
  height: 40px;
  width: 50%;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 1.5rem;
  margin-right: -1rem;
  border-bottom: 1px solid red;
  padding-right: 1rem;
}
.comic-info p {
  display: inline-block;
  padding: 0.7rem 1rem;
  color: white;
  font-size: 0.8rem;
}
.comic-info .uno {
  float: left;
  color: lightgreen;
  font-weight: bold;
}
.comic-info .due {
  float: right;
  text-transform: uppercase;
  font-weight: bold;
  color: lightgreen;
}
.comic-info .price {
  color: white;
  font-weight: bold;
  margin-left: -1.5rem;
}

.comic-info-b {
  background-color: rgb(112, 184, 100);
  height: 40px;
  width: 19%;
  display: inline-block;
  font-weight: bold;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
}
.comic-info-b p {
  padding: 0.7rem 1rem;
  color: white;
  font-size: 0.8rem;
}

.comic-info-left {
  width: 55%;
  border-bottom: 1px solid lightgrey;
  margin-left: 20rem;
}
.comic-info-left h3 {
  padding-bottom: 1rem;
}

.comic-info-right {
  width: 30%;
  border-bottom: 1px solid lightgrey;
  float: right;
  margin-right: 15rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.comic-info-right h3 {
  padding-bottom: 1rem;
}

.comic-info-box {
  border-top: 1px solid lightgrey;
  margin-bottom: 1.8rem;
}
.comic-info-box p {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.7rem;
  font-weight: bold;
  color: grey;
}
.comic-info-box h4 {
  float: right;
  font-size: 0.7rem;
  align-items: center;
  width: 350px;
  color: rgb(134, 201, 234);
  margin-top: 0.8rem;
  margin-bottom: 0.7rem;
}

.comic-info-box-right {
  border-top: 1px solid lightgrey;
  margin-bottom: 1rem;
}
.comic-info-box-right p {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.7rem;
  font-weight: bold;
  color: grey;
}
.comic-info-box-right h4 {
  float: right;
  font-size: 0.7rem;
  align-items: center;
  color: rgb(134, 201, 234);
  margin-top: 0.7rem;
  text-transform: uppercase;
  width: 280px;
  margin-right: 4rem;
}

.comic-adv {
  width: 300px;
  float: right;
  position: absolute;
  top: 65%;
  right: 18%;
}
.comic-adv img {
  width: 230px;
}
.comic-adv p {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 7.8rem;
  color: #666;
}
.comic-adv h4 {
  float: right;
  font-size: 0.7rem;
  align-items: center;
  width: 350px;
  color: rgb(134, 201, 234);
  margin-top: 0.8rem;
}

.description {
  width: 68%;
  padding-bottom: 5rem;
  font-size: 0.8rem;
}

.comic-meta-section {
  display: flex;
  flex-shrink: 1;
  justify-content: space-around;
  align-self: center;
  background-color: rgb(246, 246, 246);
  height: 450px;
  border-top: 1px solid lightgray;
  width: 100%;
  z-index: 100;
  position: relative;
}

.footer-top {
  background-image: url("../images/footer-bg.jpg");
  background-color: rgb(28, 28, 28);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 350px;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}
.footer-top nav {
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
  margin-left: 170px;
}
.footer-top nav ul {
  list-style-type: none;
  text-align: left;
  margin-right: 1rem;
}
.footer-top nav a {
  text-decoration: none;
  color: lightgray;
  font-size: 0.6rem;
}
.footer-top nav h4 {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.footer-top .dc-logo {
  width: 90%;
  margin-top: -100px;
  padding-left: 160px;
  position: relative;
}

.container-social {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  height: 100px;
  width: 100vw;
  position: relative;
}

.social-links ul {
  display: flex;
  list-style-type: none;
}
.social-links ul li {
  margin-right: 1rem;
}
.social-links h4 {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.section-footer-social {
  background-color: rgb(28, 28, 28);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section-footer-social h4 {
  display: inline-block;
}
.section-footer-social .sign-up-btn {
  color: rgb(56, 128, 241);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.8rem;
  border: 1px solid white;
  text-decoration: none;
  align-items: center;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 6rem;
  margin-right: 120px;
}

.title {
  float: left;
  margin-right: 1.5rem;
  text-transform: uppercase;
  color: rgb(56, 128, 241);
  font-size: 1rem;
}