body {
  font-family: "Montserrat", sans-serif;
}

.comic-element {
  width: calc(16.6666666667% - 1rem);
  display: inline-block;
  padding-bottom: 1rem;
  text-align: left;
  align-items: center;
}
.comic-element img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}
.comic-element h4 {
  font-size: 0.6rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
  vertical-align: middle;
  width: 120px;
}
.comic-element .comic-title {
  display: flex;
  align-self: flex-end;
}

.comic-list {
  width: 100%;
  background-color: rgb(28, 28, 28);
}

.main-comics {
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  display: flex;
  background-color: rgb(28, 28, 28);
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
}
.main-comics h5 {
  font-size: 0.8rem;
  font-weight: 700;
}

.jumbotron {
  width: 100%;
  height: 400px;
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
}
.jumbotron h2 {
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.6rem;
  background-color: rgb(56, 128, 241);
  position: absolute;
  top: 46%;
  left: 14%;
}

.header-container {
  width: 75%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0.3rem;
}

.container {
  width: 75%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.relative {
  position: relative;
}

.header-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.header-content img {
  width: 100px;
  height: 100px;
  padding: 1rem;
}
.header-content nav {
  justify-content: center;
}
.header-content ul {
  margin-top: 2.4rem;
}
.header-content ul li {
  display: inline-block;
  list-style-type: none;
}
.header-content ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(28, 28, 28);
  font-size: 0.7rem;
  font-weight: 700;
  margin-right: 1rem;
}
.header-content ul a:active, .header-content ul a.active, .header-content ul a:hover {
  color: rgb(56, 128, 241);
  border-bottom: 5px solid rgb(56, 128, 241);
  padding-bottom: 40px;
}
.header-content ul a:focus {
  color: rgb(56, 128, 241);
}