@import "partials/variables";
@import "partials/common";

.comic-element {
    width:calc((100% / 6) - 1rem);
    display:inline-block;
    padding-bottom:1rem;
    text-align:left;
    align-items:center;

        img {
        width: 120px;
        height: 120px;
        object-fit:cover;
        object-position:center top;
        }

        h4 {
        font-size:.6rem;
        margin-top:.5rem;
        text-transform:uppercase;
        vertical-align: middle;
        width:120px;
        }

    .comic-title {
        display:flex;
        align-self: flex-end;
    }
    a:hover {
        color: $primaryColor;
    }
    a {
        color: white;
        text-decoration: none;
    }
}

.comic-list {
        width:100%;
        background-color: $bgDarkColor;
    }

    .main-comics {
    padding-top:2.5rem;
    padding-bottom:2rem;
    padding-left: 1.5rem;
    display:flex;
    background-color: $bgDarkColor;
    color:white;
    font-size:.8rem;
    font-weight:700;


    h5{
        font-size:.8rem;
        font-weight:700;
    }
}


.jumbotron{
    width:100%;
    height:300px;
    background-image: url('../images/jumbotron.jpg');
    background-size: cover;
    h2{
        text-transform:uppercase;
        color:white;
        font-size: 1rem;
        font-weight:700;
        padding:.6rem;
        background-color: $primaryColor;
        position:absolute;
        top:39%;
        left:14%;
        }
}

.header-container {
    width:75%;
    height: 100px;
    margin:0 auto;
    display:flex;
    justify-content:center;
    padding:.3rem;
}

.container {
    width:75%;
    margin:0 auto;

}

.container-detail {
    width:55%;
    margin:0 auto;
    padding-top:4rem;
    padding-bottom: 3rem;
}

.container-info {
    width:55%;
    margin:0 auto;
    padding-top:1rem;
    padding-bottom: 3rem;

}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.clearfix::after{
    content:'';
    display:table;
    clear:both;
}

.relative{
    position: relative;
}


.header-content {
    display: flex;
    width:100%;
    justify-content: space-around;
        img {
            width:100px;
            height:100px;
            padding:1rem;

        }

        nav {
            justify-content:center;
        }

        ul {

            margin-top:2.4rem;


        li {
            display:inline-block;
            list-style-type: none;
        }

        a {
        text-decoration: none;
        text-transform:uppercase;
        color:$bgDarkColor;
        font-size: .7rem;
        font-weight:700;
        margin-right:1rem;
        }
        a:active, a.active, a:hover{
        color: $primaryColor;
        border-bottom:5px solid $primaryColor;
        padding-bottom:40px;
        }
        a:focus{
            color: $primaryColor;
        }
    }
}
.top-main {
    width:100%;
    height: 60px;
    background-color:$primaryColor;
}

.comic-item-img {
    width:10%;
    position:absolute;
    left:23%;
    top:38%;
    z-index:2;
    border: 1px solid white;
}

.comic-item h1{
    width:60%;
}

.comic-book {
    left:23%;
    top:38%;
    color: white;
    width: 80px;
    height:15px;
    background-color: rgb(76,166,212);
    text-transform: uppercase;
    font-size:.7rem;
    border-top: 1px solid white;
    border-left: 1px solid white;
    text-align:left;
    position:absolute;
    z-index: 3;
}

.gallery {
    left:23%;
    top:108%;
    color: white;
    width: 144px;
    height:20px;
    background-color: rgb(76,166,212);
    text-transform: uppercase;
    font-size:.7rem;
    text-align:center;
    padding-top:.2rem;
    position:absolute;
    z-index: 3;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}
.comic-item  h1 {
    font-size:1.4rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.comic-info {
    background-color: rgb(112, 184, 100);
    height:40px;
    width: 50%;
    display:inline-block;
    margin-right:0;
    margin-bottom:1.5rem;
    margin-right:-1rem;
    border-bottom:1px solid red;
    padding-right:1rem;
        p {
            display:inline-block;
            padding:.7rem 1rem;
            color:white;
            font-size:.8rem;
        }
        .uno {
            float:left;
            color: lightgreen;
            font-weight:bold;
        }
        .due {
            float:right;
            text-transform: uppercase;
            font-weight:bold;
            color: lightgreen


        }
        .price{
            color:white;
            font-weight:bold;
            margin-left:-1.5rem;

        }

}

.comic-info-b {
    background-color: rgb(112, 184, 100);
    height:40px;
    width: 19%;
    display:inline-block;
    font-weight:bold;
    border-bottom:1px solid red;
    border-left:1px solid red;
        p {
            padding:.7rem 1rem;
            color:white;
            font-size:.8rem
            }
}

.comic-info-left {
    width:55%;
    border-bottom: 1px solid lightgrey;
    margin-left:20rem;
        h3{
            padding-bottom:1rem;
        }
}

.comic-info-right {

    width:30%;
    border-bottom: 1px solid lightgrey; float:right;
    margin-right:15rem;
    display:flex;
    flex-direction: column;
    margin-top:1rem;
        h3{
            padding-bottom:1rem;
        }

}

.comic-info-box{

    border-top:1px solid lightgrey;
    margin-bottom:1.8rem;
        p {
            margin-top:.7rem; display:inline-block;
            font-size:.7rem; font-weight:bold; color:grey


        }

        h4{
            float:right;
            font-size:.7rem;  align-items:center;
            width:350px;
            color:rgb(134, 201, 234); margin-top:.8rem;
            margin-bottom:.7rem;
        }
}

.comic-info-box-right {

    border-top:1px solid lightgrey;
    margin-bottom:1rem;
        p{
            margin-top:.7rem; display:inline-block;
            font-size:.7rem; font-weight:bold;
            color:grey;
        }
        h4{
            float:right;
            font-size:.7rem;
            align-items:center;
            color:rgb(134, 201, 234); margin-top:.7rem; text-transform: uppercase;
            width:280px;
            margin-right:4rem;
        }
}

.comic-adv{
    width:300px;
    float:right;
    position:absolute;
    top:65%;
    right:18%;

    img{
        width:230px;
    }


        p{
            font-weight:bold;
            text-transform: uppercase;
            font-size:12px;
            margin-left:7.8rem;
            color:#666
        }

        h4 {
            float:right;
            font-size:.7rem; align-items:center; width:350px; color:rgb(134, 201, 234); margin-top:.8rem;
        }



}

.description {
    width:68%;
    padding-bottom:5rem;
    font-size: .8rem;
}

.comic-meta-section {
    display:flex;
    flex-shrink: 1;
    justify-content:space-around;
    align-self:center;
    background-color: rgb(246, 246, 246);
    height:450px;
    border-top: 1px solid lightgray;
    width:100%;
    z-index:100;
    position:relative;

}

.footer-top {
    background-image: url('../images/footer-bg.jpg');
    background-color:$bgDarkColor;
    background-repeat: no-repeat;
    background-size:cover;
    width:100vw;
    height:350px;
    display:flex;
    justify-content:space-around;
    padding:.5rem;


    nav {
        display: flex;
        flex-basis:100%;
        justify-content:space-around;
        margin-left:170px;


        ul{
            list-style-type: none;
            text-align:left;
            margin-right:1rem;

        }
        a {
            text-decoration:none;
            color: lightgray;
            font-size:.6rem;
        }
        h4 {
            color:white;
            font-size:1rem;
            text-transform:uppercase;
            font-weight:700;
            margin-bottom:1rem;
            margin-top:1rem;
        }
    }

    .dc-logo {
        width:90%;
        margin-top: -100px;
        padding-left:160px;
        position:relative;
    }
}

.container-social {
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-size:.8rem;
    font-weight:700;
    height:100px;
    width:100vw;
    position:relative;
}
.social-links {
    ul {
        display:flex;
        list-style-type: none;
        li{
        margin-right:1rem;
        }
    }
    h4{
        margin-top:.5rem;
        font-size:1.2rem;
    }
}
.section-footer-social{

    background-color:$bgDarkColor;
    height:100px;
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;

    h4 {
        display:inline-block;
    }
    .sign-up-btn{
        color:$primaryColor;
        font-size:1rem;
        font-weight:700;
        padding:.8rem;
        border: 1px solid white;
        text-decoration:none;
        align-items:center;
        text-transform: uppercase;
        vertical-align: middle;
        line-height:6rem;
        margin-right:120px;
        }
}

.title {
    float:left;
    margin-right:1.5rem;
    text-transform:uppercase;
    color: $primaryColor;
    font-size:1rem;
}








